div {
    font-family: sans-serif;
    color: white;
    font-size: 40px;
    position: relative;
    bottom: 80%;
    left: 35%;
    width: 30%;
    height: 40%;
    background-color: #ff9966;
    text-align: center;
    border-style: 5px solid;
    border-radius: 10px;
    border-color: red;
}

button {
    display: inline-block;
    color: white;
    font-size: 45px;
    border-style: 5px solid red;
    border-radius: 10px;
    background-color: #ff9999
}